<!-- only show up if the success variable has a length i.e. if flash has run-->
<% if (success.length) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
  <%= success %>
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
</div>
<% } %> <% if (error.length) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= error %>
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
