<% layout('/layouts/boilerplate') %>
<!-- to do client side form validations: have required in each input. in the form type novalidate and add class of 'validated'form'. add div w class of 'valid-feedback' for some text that is shown/hidden depending if valid or no. copy and paste js from bs or this project -->

<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <!-- enctype usually urlencoded, but for images we need multipart/form-data -->
    <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data"
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <!-- campground[foo], campground[bar], groups foo and bar under campground when its sent -->
        <input class="form-control" type="text" id="title" name="campground[title]" required />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="campground[location]" required />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <!-- multiple means you can upload multiple files -->
      <!-- <input type="file" name="image" id="image" multiple> -->
      <div class="input-group mb-3">
        <label class="input-group-text" for="image">Upload</label>
        <input type="file" class="form-control" id="image" name="image" multiple >
      </div>
       <!-- <div class="mb-3">
        <label class="form-label" for="image">Image url</label>
        <input class="form-control" type="text" id="image" name="campground[image]" required />
        <div class="valid-feedback">Looks good!</div>
      </div> -->
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            aria-label="price-label"
            name="campground[price]"
            placeholder="0.00"
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
  </div>
</div>
